
			html		{	background-image: url("images/fire.jpg");
					}
			body		{	background-color: beige;
						width: 75%;
						margin: 0px auto;
						padding: 20px 35px;
					}
			h1		{	text-align: center;
						font-family: fantasy;
						font-size: 2em;
					}
			a		{	font-family: "Lucida Handwritten", cursive;
						font-size: 1.3em;
						text-decoration: none;
					}
			p		{	text-align: center;
						font-size: 1.2em;
					}
			p::first-letter	{	font-size: 2em;
						font-family: cursive;
					}
			.Fire		{	color: red;
					}
			.LeftPic	{	position: relative;
						left: 220px;
					}
			.RightPic	{	position: relative;
						left: 250px;
					}
			.LeftPic:hover	{	transform: scale(2.0);
					}
			.RightPic:hover	{	transform: translate(100px)rotate(30deg);
					}
			#HC		{	background-color: tomato;
						margin-bottom: 10px;
						transition: background-color 3s;
					}
			#LD		{	background-color: gold;
						margin-bottom: 10px;
						transition: background-color 3s, color 3s;
					}
			#AndLD		{	background-color: white;
						transition: background-color 4s, color 5s; 
					}
			#HC:hover	{	background-color: turquoise;
					}
			#LD:hover	{	background-color: purple;
						color: lightgrey;
					}
			#AndLD:hover	{	background-color: black;
						color: white;
					}







